<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        background-color: blueviolet;
        color: rgb(0, 53, 35);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>welcome screen</h1>
      <p>hello dosto</p>
    </div>
  </body>
</html>
